[Unit]
Description=CobaltStrike Teamserver Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/cobaltstrike
Environment="PATH=/root/cobaltstrike:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
ExecStart=/root/cobaltstrike/teamserver {{ ansible_host }} {{ cs_password }} evasive.profile

[Install]
WantedBy=multi-user.target
